.btn-outline-success {
    float: right;
}
.lead {
    padding-top: 20px;
}
.btn-lg {
    margin-left: 140px
}
canvas {
    animation-name: ∆;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 35px;
}

@keyframes ∆ {
    from {box-shadow: 10px 10px 10px black;}
    to {box-shadow: 10px 10px 10px white;}
}